* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Helvetica, sans-serif;
}

body {
  background: #00000092 url(../assests/bg/bg.jpg);
  background-repeat: no-repeat;
  position: center;
  background-size: cover;
  background-blend-mode: darken;
}
.header-bar {
  height: 10vh;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 4vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.netflix-logo {
  width: 250px;
  height: 43px;
}

.language {
  border: 1px solid rgba(0, 0, 0, 0.882);
  background-color: rgba(0, 0, 0, 0.388);
  padding: 6px 36px;
  border-radius: 0.25rem;
}

a{
    background-color:red;
    border:none;
    padding: 7px 24px;
    font-weight: bold;
    cursor:pointer;
    fill:currentColor;
    border-radius: 0.25rem;
}

a{
  text-decoration:none;

}

.main{
  margin-top:5%;
}

.join{
  margin-bottom:4%;
  font-size:3rem;
}
.paragraph{
  margin-bottom: 2% ;
  font-size: 1.5rem;
}

.start{
  background-color:red;
    border:none;
    padding: 11px 44px 12px 44px;
    font-weight: bold;
    font-size: 20px;
    cursor:pointer;
    fill:currentColor;
    border-radius: 0.25rem;
}

.mail{
  padding:16px 240px 16px 20px;
  background-color:rgba(0, 0, 0, 0.537);
  border-radius: 4px;
  border: 0.5px solid rgb(156,151,151);
}
